<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orca</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,600,800" rel="stylesheet">
    <link rel="stylesheet" href="css/cryptocoins.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<section class="container" id="app" ref="main" v-cloak>

    <div class="row exchanges-wrapper" v-if="showExchanges">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" v-for="exchange in exchanges">
            <div class="wallet" v-bind:class="{ 'wallet--bank': (exchange.type == 'fiat') }">

                <div class="wallet__header">
                    <h3 class="wallet__title">${ exchange.exchangeName } <span>BTC: <strong>${ exchange.estimatedValue.BTC }</strong></span></h3>
                    <p v-if="exchange.type == 'crypto'" class="wallet__value">Estimated value: <span>USD: <strong>${ exchange.estimatedValue.USD }</strong></span></p>
                    <p v-if="exchange.type == 'fiat'" class="wallet__value">Estimated value: <span>EUR: <strong>${ exchange.estimatedValue.EUR }</strong></span></p>
                </div>

                <div class="wallet__accounts">
                            <span class="wallet__account" v-for="wallet in exchange.wallet">


                                <span class="wallet__coin">
                                    <i v-if="exchange.type == 'crypto'" class="cc" :class="wallet.currency"></i>
                                    <span v-if="exchange.type == 'fiat'" class="fiat">€</span>
                                </span>

                                <span class="wallet__account__content">
                                    <span v-if="exchange.type == 'crypto'" class="wallet__account__balance">USD:&nbsp;${ wallet.value.USD } / <strong>${ wallet.currency }&nbsp;${ wallet.balance }</strong></span>
                                    <span v-if="exchange.type == 'fiat'" class="wallet__account__balance">BTC:&nbsp;${ wallet.value.BTC } / <strong>${ wallet.currency }&nbsp;${ wallet.balance }</strong></span>
                                </span>
                            </span>

                </div>
            </div>
        </div>

    </div>

    <div class="row logs-wrapper" v-if="showLogs">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="logs" id="logs">
                <p v-for="log in logs" v-html="log">${ scrollToEnd() }</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="actions">
                <button class="actions__button actions__button--get" @click="getLogs" v-bind:class="{ disabled: getBtnDisabled }" :disabled="getBtnDisabled">Get Data</button>
                <button class="actions__button actions__button--show" @click="showData" v-bind:class="{ disabled: showBtnDisabled }" :disabled="showBtnDisabled">Show Data</button>
            </div>
        </div>
    </div>

</section>

<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
<script src="js/main.js"></script>
</body>
</html>